<style>
    .center-text{
        text-align: center;
    }
    .left-text{
        text-align: left;
    }
    .right-text{
        text-align: right;
    }
</style>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-1"><%= header %></h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item"><a href="<%= sub_header_url %>" class="text-muted"><%= sub_header %></a></li>
                        <li class="breadcrumb-item text-muted active" aria-current="page"><%= header %></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <center>
                                <table class="center-text">
                                    <tr>
                                        <td colspan="3">SOUTH BENGAL 2</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">PREMIUM CHICK FEEDS PVT. LTD.</td>
                                    </tr>
                                    <tr><td colspan="3"><p class="text-color" style="border-style: dashed; border-width: 1px;width: 100%;"></p></td></tr>
                                    <tr>
                                        <td class="left-text">DC No.</td>
                                        <td>:</td>
                                        <td class="left-text">15087</td>
                                    </tr>
                                    <tr>
                                        <td class="left-text">Trader</td>
                                        <td>:</td>
                                        <td class="left-text">DIGANTA BERA-MANIKPARA</td>
                                    </tr>
                                    <tr>
                                        <td class="left-text">Farmer</td>
                                        <td>:</td>
                                        <td class="left-text">ANIL MANNA</td>
                                    </tr>
                                    <tr>
                                        <td class="left-text">Site</td>
                                        <td class="left-text">:</td>
                                        <td class="left-text">LODHASULI</td>
                                    </tr>
                                    <tr>
                                        <td class="left-text">Supervisor</td>
                                        <td>:</td>
                                        <td class="left-text">BILASH HAZARE</td>
                                    </tr>
                                    <tr><td colspan="3"><p class="text-color" style="border-style: dashed; border-width: 1px;width: 100%;"></p></td></tr>
                                    <tr>
                                        <td class="left-text">Schedule No.</td>
                                        <td>:</td>
                                        <td class="left-text">15087</td>
                                    </tr>
                                    <tr>
                                        <td class="left-text">Date</td>
                                        <td>:</td>
                                        <td class="left-text">05-09-23</td>
                                    </tr>
                                    <tr>
                                        <td class="left-text">Scale No</td>
                                        <td>:</td>
                                        <td class="left-text">HS-221318</td>
                                    </tr>
                                    <tr>
                                        <td class="left-text">Vehicle No</td>
                                        <td>:</td>
                                        <td class="left-text">WB494559</td>
                                    </tr>
                                    <tr>
                                        <td class="left-text">Driver</td>
                                        <td>:</td>
                                        <td class="left-text">DIGANTA9734440326</td>
                                    </tr>
                                    <tr>
                                        <td class="left-text">Slip No</td>
                                        <td>:</td>
                                        <td class="left-text">WB138756</td>
                                    </tr>
                                    <tr>
                                        <td class="left-text">Lot No</td>
                                        <td>:</td>
                                        <td class="left-text">42</td>
                                    </tr>
                                    <tr>
                                        <td class="left-text">Start</td>
                                        <td>:</td>
                                        <td class="left-text">06-09-23  (05:49)</td>
                                    </tr>
                                    <tr>
                                        <td class="left-text">End</td>
                                        <td>:</td>
                                        <td class="left-text">06-09-23  (06:23)</td>
                                    </tr>
                                    <tr><td colspan="3"><p class="text-color" style="border-style: dashed; border-width: 1px;width: 100%;"></p></td></tr>
                                    <tr>
                                        <td>No.</td>
                                        <td>NOB</td>
                                        <td>Weight</td>
                                    </tr>
                                    <tr><td colspan="3"><p class="text-color" style="border-style: dashed; border-width: 1px;width: 100%;"></p></td></tr>
                                    <tr>
                                        <td>1.</td>
                                        <td>10</td>
                                        <td>21.15</td>
                                    </tr>
                                    <tr><td colspan="3"><p class="text-color" style="border-style: dashed; border-width: 1px;width: 100%;"></p></td></tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr><td colspan="3"><p class="text-color" style="border-style: dashed; border-width: 1px;width: 100%;"></p></td></tr>
                                    <tr>
                                        <td>Net wt.</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Avg. wt.</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr><td colspan="3"><p class="text-color" style="border-style: dashed; border-width: 1px;width: 100%;"></p></td></tr>
                                    <tr>
                                        <td>Remark</td>
                                        <td>:</td>
                                        <td>dasdasdasd</td>
                                    </tr>
                                    <tr><td colspan="3"><p class="text-color" style="border-style: dashed; border-width: 1px;width: 100%;"></p></td></tr>
                                </table>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>